* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #fff;
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu", sans-serif;
  justify-content: center;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
footer,
input,
textarea,
.copyright,
.button {
  font-family: Poppins, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu", sans-serif;
  line-height: 125%;
}

h1 {
  color: #3b3b3b;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}
h2 {
  color: #3b3b3b;
  font-size: 28px;
  font-weight: bold;
  margin: 16px 0 8px 0;
}
h3 {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 4px 0;
}
h4 {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 4px;
}
h5 {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}
h6 {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
  font-family: Poppins, sans-serif;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
a::before{
  content: "\f0c1\00a0";
  color: #1854f1;
  font-family: FontAwesome;
  font-size: 11px;
}

.outlineButton,
.button,
button {
  background-color: #194b7d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  white-space: nowrap;
}

footer {
  color: #9c9c9c;
  margin: 40px;
}

footer a {
  font-weight: bold;
}

.headerContainer{
  padding: 30px 50px;
  background-color: #fff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.headerContainer div {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
}

.headerContainer div:nth-child(2){
  display: flex;
  flex-flow: column;
  align-content: start;
  justify-content: start;
  flex-wrap: wrap;
}

.headerContainer div img{
  border-radius: 4px;
  width: 30px;
  height: auto;
}

.headerContainer div h1{
  font-family: changa;
  font-weight: 500;
  margin-left: 10px;
  color: #000;
}

.headerContainer div:nth-child(2) p{
  color: #716d6d;
  text-align: start;
  font-size: 18px;
}

.settings-and-actions{
  display: inline-flex !important;
  flex-wrap: wrap !important;
  gap: 12px !important;
  flex-flow: row !important;
  overflow-x: auto !important;
  justify-content: start !important;
  align-items: center !important;
  width: 100% !important;
  padding: 10px 0 !important;
}

.settings-and-actions span {
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  background-color: #d0d1d3;
  cursor: pointer;
}

.pageContainer {
  padding: 30px 50px;
  background-color: #fff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: auto;
  white-space: nowrap;
}

.headline b{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.headline span {
  background-color: #d0d1d3;
  border-radius: 20px;
  padding: 6px 12px;
  margin-left: 12px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  cursor: pointer;
}

.headline .active {
  background-color: #1854f1;
  color: #fff;
}

.reportContainer {
  margin: 30px auto;
  width: 100%;
}

.statusContainer {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding-top: 20px;
  text-align: left;
  padding: 24px;
}

.statusContainer + .statusContainer {
  border-top: 1px solid #eee;
  margin-top: 30px;
}

.statusStreamContainer {
  display: flex;
  justify-content: space-between;
}

.statusSquare {
  border-radius: 3px;
  height: 30px;
  min-width: 8px;
  width: 100%;
}

.statusSquare + .statusSquare {
  margin-left: 6px;
}

.sectionUrl {
  font-size: 14px;
}

.statusTitle {
  text-transform: uppercase;
}

.statusTitle a {
  color: #181818;
  cursor: pointer;
}

.statusTitle a:hover {
  text-decoration: underline;
}

.statusTitle a::before {
  content: "\f0c1\00a0";
  font-family: FontAwesome;
  color: #1854f1;
  font-size: small;
  font-weight: 300;
}

.normal{
  color: #fff;
  background-color: #4cae50;
  text-decoration: none;
  text-transform: none;
}
.normal::after{
  font-family: FontAwesome;
  content: "\00a0\f132";
  color: #fff;
}
.normal:hover{
  text-decoration: none !important;
}

.secure{
  color: #fff;
  background-color: #1854f1;
  text-decoration: none;
  text-transform: none;
}
.secure::after{
  font-family: FontAwesome;
  content: "\00a0\f023";
  color: #fff;
}
.secure:hover{
  text-decoration: none !important;
}

.down{
  color: #fff;
  background-color: #ff9800;
  text-decoration: none;
  text-transform: none;
}
.down::after{
  font-family: FontAwesome;
  content: "\00a0\f149";
  color: #fff;
}
.down:hover{
  text-decoration: none !important;
}

.up{
  color: #fff;
  background-color: #4cae50;
  text-decoration: none;
  text-transform: none;
}
.up::after{
  font-family: FontAwesome;
  content: "\00a0\f148";
  color: #fff;
}
.up:hover{
  text-decoration: none !important;
}

.unknown{
  color: #fff;
  background-color: #7c7c7c;
  text-decoration: none;
  text-transform: none;
}
.unknown::after{
  font-family: FontAwesome;
  content: "\00a0\f128";
  color: #fff;
}

.insecure{
  color: #fff;
  background-color: #d4351d;
  text-decoration: none;
  text-transform: none;
}
.insecure::after{
  font-family: FontAwesome;
  content: "\00a0\f0e7";
  color: #fff;
}

.statusHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2px;
}

.statusHeader .incidentReportsHeader::before{
  content: "\f12a\00a0";
  font-family: FontAwesome;
  color: #1854f1;
}

.statusContainer h4 {
  padding: 10px;
  background-color: #1854f1;
  color: #fff;
  border-radius: 5px;
}

.statusContainer #activeIncidentReports, .statusContainer #inActiveIncidentReports {
  padding: 10px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.statusSubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

#activeIncidentReports div, #inActiveIncidentReports div{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  border-radius: 3px;
  border: 1px solid #ededed;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#activeIncidentReports div:hover, #inActiveIncidentReports div:hover{
  background-color: #e8e8e8;
}

#activeIncidentReports div span, #inActiveIncidentReports div span{
  align-self: end;
  cursor: pointer;
}

#activeIncidentReports div h2, #inActiveIncidentReports div h2{
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  cursor: pointer;
}

#activeIncidentReports div h1, #inActiveIncidentReports div h1{
  font-size: 22px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

#activeIncidentReports div p, #inActiveIncidentReports div p{
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  cursor: pointer;
}

#activeIncidentReports div h4, #inActiveIncidentReports div h4{
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.headlinesContainer{
  display: flex;
  gap: 2.5px;
  overflow: auto;
  white-space: nowrap;
}

.statusHeadline {
  color: #eee;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 15px;
  font-family: Poppins, sans-serif;
}

.statusUptime {
  flex: 1;
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}

.uptimeContainer {
  color: #999;
  display: flex;
  margin-top: 8px;
  font-size: 12px;
}

.uptimeContainer hr {
  border: none;
  border-top: 1px dashed #eee;
  width: 100%;
  margin: 10px;
}

.success {
  background-color: #4cae50;
  color: #fff;
}

.failure {
  background-color: #f44336;
  color: #fff;
}

.nodata {
  background-color: #f8f8f8;
  color: #ccc;
}

.partial {
  background-color: #ff9800;
  color: #fff;
}

#templates{
  display: none;
}

#subscribe{
  display: none;
}

.tooltip {
  background-color: #fff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #3b3b3b;
  font-size: 12px;
  line-height: 18px;
  padding: 16px;
  position: absolute;
  text-align: left;
  z-index: 100;
  width: 240px;
  transition: opacity 0.2s;
  opacity: 0;
}

.tooltip .tooltipArrow {
  position: absolute;
  bottom: 100%;
  width: 4px;
  text-align: center;
  border: 4px solid transparent;
  border-bottom-color: #fff;
  left: 50%;
  margin-left: -2px;
}

.tooltip .tooltipDateTime {
  font-size: 12px;
  color: #7c7c7c;
  text-transform: uppercase;
  font-weight: 600;
}

.tooltip .tooltipKey {
  color: #ccc;
  font-size: 10px;
}

.tooltip .tooltipDescription {
  margin-top: 12px;
  font-size: 14px;
  color: #181818;
}

.tooltip #tooltipStatus {
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
  display: inline-block;
}

.tooltip hr {
  border: none;
  border-top: 1px solid #ededed;
  margin-top: 16px;
}

blockquote.warning{
  display: flex;
  justify-content: start;
  flex-flow: column;
  background: rgba(247, 126, 126, 0.2);
  border-left: 4px solid #dd2e2e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

blockquote.warning::before{
  display: flex !important;
  color: #dd2e2e;
  content: "Warning";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

blockquote.warning > p:last-child{
  margin-bottom: 0;
  text-align: start;
}

@media screen and (max-width: 800px) {
  .pageContainer {
    padding: 0 20px;
    margin: 0 auto 40px auto;
    border-radius: 0;
  }

  .statusHeader,
  .statusSubtitle {
    display: block;
  }

  .statusHeadline,
  .sectionUrl,
  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusTitle,
  .statusHeadline {
    display: block;
    width: fit-content;
  }

  .statusSquare + .statusSquare {
    margin-left: 1px;
  }

  .statusSquare {
    min-width: 4px;
    width: 100%;
  }
  #tooltip{
    display: none;
  }
  .headerContainer{
    margin: 0;
    padding: 10px 30px;
    box-shadow: none;
  }
  .headerContainer div:nth-child(2) p{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .statusTitle a {
    font-size: 12px;
  }
}
